html{
	min-height: 100%;
}
body{
	background: url(../img/fondo3d.jpg) scroll right center / cover transparent;
	height: 100%;
	position: relative;
	font-size: 18px;
	zoom: 80%;
}

body.ultima{
	background: url(../img/fondo3d.jpg) scroll right center / cover transparent;
	height: 100%;
	position: relative;
	font-size: 18px;
	zoom: 68%;
}


.logo{
	float: left;
}
.jumbotron{min-height: 370px;}
.aplicaciones{background: #FFF;border-radius: 10px;}
.perfiles{background: #FFF;border-radius: 10px;}
.usuarios{background: #FFF;border-radius: 10px;}
.asignacion-perfil{background: #FFF;border-radius: 10px;}
.top5p{margin-top: 5%;}

button{
	color: black;
}

.mayuscula{
	text-transform: uppercase;
}